<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="register" method="POST">
        {% csrf_token %}
    Name:<input type="text" name="name" placeholder="Name"><br>
    UserName:<input type="text" name="username" placeholder="U.Name"><br>
    Email:<input type="email" name="email" placeholder="email"><br>
    Password:<input type="password" name="password1" placeholder="Password"><br>
    Confim:<input type="password" name="password2" placeholder="confirm"><br>
    <input type="submit">
    </form>
    {% for message in messages %}
    {{message}}
    {% endfor %}
</body>
</html>